<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Percentage Calcultor</title>
</head>
<body>
<form action="/percentage" method="POST">
<p></p>
<label>Enter Student Name</label>
<input type="text" name ="name"/>
<br>
<label>Enter sub1 Marks</label>
<input type="number" name ="sub1"/>
<br>
<label>Enter sub2 Marks</label>
<input type="number" name ="sub2"/>
<br>
<label>Enter sub3 Marks</label>
<input type="number" name ="sub3"/>
<br>
<label>Enter sub4 Marks</label>
<input type="number" name ="sub4"/>
<br>
<label>Enter sub5 Marks</label>
<input type="number" name ="sub5"/>
<br>
<input type="submit" value="Submit"/>


</form>
</body>
</html>


